---
layout: nil
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  {% seo %}

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<header>
  <div class="inner">

    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>

    <div style="margin-top:20px">

      <a href="https://github.com/demoralizerr" class="button">
        <small>View Profile</small>
        GitHub
      </a>

      <a href="https://linkedin.com/in/demoralizer" class="button">
        <small>Connect On</small>
        LinkedIn
      </a>

      <a href="https://leetcode.com/frankenstrike" class="button">
        <small>Competitive Programming</small>
        LeetCode
      </a>

      <a href="/assets/Kartik_Patel_Resume.pdf" class="button">
        <small>Download</small>
        Resume
      </a>

    </div>

  </div>
</header>

<div id="content-wrapper">
  <div class="inner clearfix">

    <section id="main-content">
      {{ content }}
    </section>

  </div>
</div>

</body>
</html>
